body {
  margin: 0;
  padding: 0;
  background-color: #fafcfc;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo span {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  color: #666666;
  margin-left: 12px;
}
.burger {
  font-size: 40px;
}
.nav-menu {
  display: none;
}
